@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #f8f5f2;
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 1px solid red; */
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-style: italic;
}

